<div class="correctsize">
   <div id="about" class="about">
      <div style="width: 40vw;">
         <h1>About</h1>
         Welcome to Trojans Who Read! We are a USC book club that meets every month to discuss a book that you all vote for!<br/>
         The premise is simple: reading good books and having great conversations.
         <table style="width:100%;table-layout: fixed;" class="correctsize">
            <tr>
               <td>
                  <img src="../assets/img/emmatrzupek.jpeg" width="300px"/><br/>
                  Emma Trzupek<br/>
                  President
               </td>
               <td>
                  <img src="../assets/img/verawang.jpg" width="300px"/><br/>
                  Vera Wang<br/>
                  Vice President
               </td>
               <td>
                  <img src="../assets/img/emilylopez.jpg" width="300px"/><br/>
                  Emily Lopex<br/>
                  Secretary/Events
               </td>
            </tr>
         </table>
      </div> 
   </div>
</div>
<div id="aboutmobile" class="aboutsmall">
   <div style="width: 80vw;" class="toosmall">
      <br/><br/><br/><br/>
      <h1>About</h1>
      Welcome to Trojans Who Read! We are a USC book club that meets every month to discuss a book that you all vote for!<br/>
      The premise is simple: reading good books and having great conversations.<br/><br/>
      <img src="../assets/img/emmatrzupek.jpeg" width="300px"/><br/>
      Emma Trzupek<br/>
      President<br/><br/>
      <img src="../assets/img/verawang.jpg" width="300px"/><br/>
      Vera Wang<br/>
      Vice President<br/><br/>
      <img src="../assets/img/emilylopez.jpg" width="300px"/><br/>
      Emily Lopex<br/>
      Secretary/Events<br/><br/>
      <br/><br/><br/><br/>
   </div>
</div>