<div id="contact" class="contact">
    <div style="width: 40vw;">
        <h1>Contact</h1>
        Below are some of the ways you can get into contact with us! 
        EngageSC is primarily for getting onto our mailing list, where we send out the monthly book polls, meeting times, and other announcements. All meeting annoucements will be posted to our Instagram as well.<br/><br/>
        <table style="width:100%;table-layout: fixed;">
            <tr>
                <td>
                    <a href="https://www.goodreads.com/group/show/1255446-trojans-who-read" target="_blank"><img src="../assets/img/icons/goodreads.png" width="100px"/></a><br/>
                    Goodreads Group
                </td>
                <td>
                    <a href="https://www.instagram.com/trojans_who_read_club/" target="_blank"><img src="../assets/img/icons/instagram.webp" width="100px"/></a><br/>
                    Instagram Account
                </td>
                <td>
                    <a href="https://engage.usc.edu/feeds?type=club&type_id=36816&tab=about" target="_blank"><img src="../assets/img/icons/usc.png" width="100px"/></a><br/>
                    EngageSC Page
                </td>
            </tr>
        </table>
    </div>
</div>