<div class="correctsize" style="position: sticky; top: 0; z-index: 9999; height: fit-content;">
    <nav>
        <ul>
          <li><a href="#">Trojans Who Read</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#previous-reads">Previous Reads</a></li>
        </ul>
    </nav>
</div>
<div class="toosmall" style="position: sticky; top: 0; z-index: 9999; height: fit-content;">
    <nav>
        <ul>
          <li><a href="#">TWR</a></li>
          <li><a href="#aboutmobile">About</a></li>
          <li><a href="#contactmobile">Contact</a></li>
          <li><a href="#previous-reads">Books</a></li>
        </ul>
    </nav>
</div>