<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link
    rel="shortcut icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>">
 <title>{{ site.title }}</title>
    
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="{{ site.title }}">

    <link href="{{ site.baseurl }}/assets/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet">
    <link rel='stylesheet' media='screen and (min-width: 1001px)' href='{{ site.baseurl }}/assets/css/main.css'/>
    <link rel='stylesheet' media='screen and (max-width: 1000px)' href='{{ site.baseurl }}/assets/css/toosmall.css'/>
</head>