.correctsize {
    display: none;
}

.toosmall {
    display: block !important;
}

body {
font-size:20px;
font-family:'Times',serif;
}
img {
max-width:100%
}
h1,h2,h3,h4,h5,h6 {
font-family:'Times',serif;
}
h1,h2{
    text-transform: uppercase;
}
.item {
padding-top:150px;
min-height:150px;
position:relative
}
.item:before,.last-item:after {
background:#fff;
border:8px solid #000;
border-radius:50%;
width:40px;
height:40px;
display:inline-block;
content:"";
margin-left:1rem;
position:relative;
z-index:1;
left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color:#000;
position:absolute;
left:calc(2% - 5px);
top:0px;
bottom:0
}
.item .card-panel {
margin:0;
margin:2rem 0 0 3rem;
}
.card-panel{
    width: fit-content;
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}
.contact {
    background-color: #000;
}
nav {
    position: sticky; 
    top: 0; 
    z-index: 9999;
    height: fit-content;
}
ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  background: #000;
}
li {
  list-style: none;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}
.welcome{
    background-image: url('../img/doheny.jpeg');
    background-size: 100% 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 100px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}
html {
  scroll-behavior: smooth;
}
.about{
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;   
}
.aboutsmall{
    height: fit-content;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.contact{
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.contactsmall{
    background-color: #000;
    color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
td{
    justify-content: center; 
    align-items: center;
    text-align: center;
}